<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop-2.0.xsd
				http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-2.5.xsd">
				
	<aop:aspectj-autoproxy/>
	
	<bean name="triangle" class ="org.renuka.learn.java.aop.model.Triangle">
		<property name="name" value="Triangle Name"/>
	</bean>
	
	<bean name="circle" class ="org.renuka.learn.java.aop.model.Circle">
		<property name="name" value="Circle Name"/>
	</bean>
	
	<bean name="shapeService" class ="org.renuka.learn.java.aop.service.ShapeService" autowire="byName"/>		
	<bean name="loggingAspect" class ="org.renuka.learn.java.aop.aspect.LoggingAspect"/>
	<bean name="loggingXMLAspect" class ="org.renuka.learn.java.aop.aspect.LoggingXMLAspect"/>
	
	<!--  -->
	<aop:config>
		<aop:aspect id="loggingXMLAspect" ref="loggingXMLAspect">
			<aop:pointcut id="allGetters" expression="execution(* get*())"/>
			<aop:around pointcut-ref="allGetters" method="myXMLAdvice"/>
			<aop:before pointcut="execution(* set*(..))" method="myXMLSetAdviceBefore"/>	
			<aop:after pointcut="execution(* set*(..))" method="myXMLSetAdviceAfter"/>		
		</aop:aspect>
	</aop:config>

</beans>